

<footer>
  <div class="region region-page-bottom">
    <section id="uobannerandfooter-uoankle">
      <div class="uoankle-container container" style="margin: 0 auto;">
        <div class="row">
          <div class="col-md-3">
            <address>
              <div itemprop="name">
                <strong>University of Oregon Libraries</strong>
              </div>
              <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
                <div>
                  <span itemprop="streetAddress">1501 Kincaid Street</span>
                  <span itemprop="addressLocality">Eugene</span>,
                  <span itemprop="addressRegion">OR</span>
                </div>
                <div>
                  <span itemprop="postalCode">97403-1299</span>
                </div>
              </div>
            </address>
          </div>
          <div class="col-md-push-3 col-md-3">
            <a href="https://securelb.imodules.com/s/1540/foundation/2col.aspx?sid=1540&amp;gid=1&amp;pgid=408&amp;cid=1095">
              <%= image_tag("givenow-sm.png", alt:"Make a Gift") %>
            </a>
          </div>
          <div class="col-md-3 col-md-push-3 social-icons">
            <a href="http://www.facebook.com/uolibraries">
              <%= image_tag("icon-facebook.png", alt:"Facebook") %>
            </a>
            <a href="http://twitter.com/uolibraries">
              <%= image_tag("icon-twitter.png",  alt:"Twitter") %>
            </a>
            <a href="https://www.youtube.com/c/uolibrarieseugene">
              <%= image_tag("icon-youtube.png", alt:"YouTube Channel") %>
            </a>
            <a href="https://www.instagram.com/uolibraries/">
              <%= image_tag("icon-instagram.png", alt:"Instagram") %>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="uobannerandfooter-uofooter">
      <div class="uofooter-container container">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-5">
          <div class="uofooter-copyright-container">
            <span class="copyright">
              &copy;
              <a href="http://uoregon.edu">University of Oregon</a>.
            </span>
            <span class="all-rights-reserved">All Rights Reserved.</span>
          </div>
        </div>
        <div class="col-md-1 uofooter-logo-container">
          <a href="http://uoregon.edu">
            <%= image_tag("footer-logo.png", alt:"University of Oregon", width:"53", height:"44") %>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
